.hero17-link {
  display: contents;
}

.hero17-header78 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 1rem;
}

.hero17-column {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0rem;
}

.hero17-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}

.hero17-text1 {
  text-align: center;
}

.hero17-text2 {
  text-align: center;
}

.hero17-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
}

.hero17-container2 {
  display: contents;
}

.hero17-text3 {
  display: inline-block;
}

.hero17-text4 {
  display: inline-block;
}

@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
}

.hero17-scroll-animation {}

@keyframes scroll-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 16px));
  }
}

@keyframes scroll-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - 16px));
  }
}
