.services-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}

.services-container3 {
  display: contents;
}

.services-text17 {
  display: inline-block;
}

.services-text18 {
  display: inline-block;
}

.services-text19 {
  display: inline-block;
}

.services-text20 {
  display: inline-block;
}

.services-text21 {
  display: inline-block;
}

.services-text22 {
  display: inline-block;
}

.services-text23 {
  display: inline-block;
}


